/* COMMON(공통)  즉 공통적으로 미치는 것들이다. 라는 메모를 남긴 것*/
body {
  color: #333;
  /*같은 내용이 반복되면 3개로 축소 가능*/
  font-size: 16px;
  /*body 하위요소 전부다 16px적용됨*/
  font-weight: 400;
  /*우리 사이트는 기본 글골 두께 400이다.*/
  line-height: 1.4;
  /*각각의 줄의 높이 설정*/
  font-family: "Nanum Gothic", sans-serif;
  /* height: 3000px; 임시로 추가 헤더와 드롭다운 메뉴 - 전역배지(1) */
}

img {
  display: block;
  /*img인라인이지만 이제부터 
  img는 글자 취급 하지않고 하나의 상자 즉 레이아웃으로 취급하겠다.*/
}

a {
  /*이렇게 공통 부분에 작성시 이 프로젝트에는 전부다 적용됨*/
  text-decoration: none;
  /*a태그 밑줄, 중앙선 등 사용하지 않겠다.*/
}

.inner {
  width: 1100px;
  margin: 0 auto;
  /*외부여백 지정, 브라우저가 좌우 알아서 값 지정*/
  position: relative;
  /*위치상의 부모요소가 될 수 있는 값 relative*/
}

.btn {
  width: 130px;
  padding: 10px;
  /*내부여백 위아래좌우 10px*/
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  /*버튼의 글자색*/
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  /* 문자정렬 가운데*/
  cursor: pointer;
  /*마우스 커서를 손가락 모양이 나오게 해줌*/
  box-sizing: border-box;
  /* 요소 크기 기준을 padding, border등이 들어가도 들어간 만큼 요소가 커지지 않게 해줌*/
  display: block;
  transition: .4s;
  /* 바뀜이 자연스럽게 일어나도록 0.4초에 걸쳐 변환*/
}

.btn:hover {
  /*마우스를 올리면 적용됨*/
  background-color: #333;
  color: #fff;
}

.btn.btn--reverse {
  /* -- 하이픈 두번은 요소의 상태를 의미함 */
  background-color: #333;
  color: #fff;
}

.btn.btn--reverse:hover {
  background-color: transparent;
  /* 투명함을 의미하는 값 transparent*/
  color: #333;
}

.btn.btn--brown {
  /*브라운 계열의 버튼 스타일을 가지는 내용*/
  color: #592B18;
  border-color: #592B18;
  /* 테두리 색상 */
}

.btn.btn--brown:hover {
  color: #FFF;
  background-color: #592B18;
}

.btn.btn--gold {
  color: #D9AA8A;
  border-color: #D9AA8A;
}

.btn.btn--gold:hover {
  color: #fff;
  background-color: #D9AA8A;
}

.btn.btn--white {
  color: #fff;
  border-color: #fff;
}

.btn.btn--white:hover {
  color: #333;
  background-color: #fff;
}

.back-to-position {
  opacity: 0;
  /*완전히 투명하게 해줌*/
  transition: 1s;
  /*transition 전환효과, 지속 시간은 1초*/
}

.back-to-position.to-right {
  /*이렇게 쓰면 일치 선택자*/
  transform: translateX(-150px);
  /* 원래지점에서 -150px 지점으로 이동(수평 이동)*/
}

.back-to-position.to-left {
  transform: translateX(150px);
  /* 원래지점에서 150px 지점으로 이동(수평 이동)*/
}

.show .back-to-position {
  opacity: 1;
  /* 불투명하게 보여짐*/
  transform: translateX(0);
}

.show .back-to-position.delay-0 {
  transition-delay: 0s;
}

.show .back-to-position.delay-1 {
  transition-delay: .3s;
}

.show .back-to-position.delay-2 {
  transition-delay: .6s;
}

.show .back-to-position.delay-3 {
  transition-delay: .9s;
}

/* HEADER */
header {
  width: 100%;
  /*헤더와 드롭다운 메뉴 - 전역배지(1) */
  background-color: #f6f5f0;
  /*구역 구분용*/
  border-bottom: 1px solid #c8c8c8;
  position: fixed;
  /* 브라우저에 뷰포트를 기준으로 배치 하겠다.*/
  top: 0;
  /* top에 0px지점에 배치 */
  /* position값이 fixed와  absolute로 부여되어 있는 요소는 가로 너비가 최소한으로 줄어들려고 시도를함 */
  z-index: 9;
}

header>.inner {
  /*헤더 부분 내용을 가운데 정렬을 위한 역할을 위한 개념*/
  /* ">" 헤더의 자식 요소인 inner부분 적용*/
  height: 120px;
  /*그래서 헤더 자식요소인 inner만 높이가 120px*/
  /* background-color: orange; 구역 구분용 */
}

header .logo {
  height: 75px;
  /*로고의 실제 높이값임*/
  position: absolute;
  /*부모 요소 기준으로 배치를 해주겠다. 
  여기서 부모는 inner겠지 그럼 inner에 포지션값이 필요하지*/
  top: 0;
  /*위에서 부터 0px 지점*/
  bottom: 0;
  /*아래서 부터 0px 지점에 */
  left: 0;
  /*부모요소 기준으로 왼쪽에 붙어 있다라는걸 명시해주는거*/
  margin: auto;
  /*margin에서 auto역할: 기본적으로 브라우저가 자동으로 계산을 하겠다. 
  근데 요소의 위쪽 여백과 아래쪽 여백을 자동으로 계산하려면 요소의 높이 값도 브라주거 알고 있어야 함
  그래야 수직으로 가운데 배치를 해줄 수 있음 수평도 같은 원리 수평은 rifht 0, left 0, whith(요소의 너비)가 필요하지
  수직 수평을 다 0으로 하고 margin도 주면 완전히 수직 수평 가운데 정렬이 되지*/
  /* display: none; 화면에서 없어지는 속성을 가짐 (코드작성시 걸리적 거릴때 사용) */
}

header .sub-menu {
  /*상단 서브메뉴 부분 코딩*/
  /* sub-menu는 현재 ul태그와 search를 포함하고 있음 */
  position: absolute;
  /*부모 요소 기준으로 배치 하겠다. 부모는 header가 되겠지*/
  top: 10px;
  right: 0;
  /* 위에서 10px 오른쪽에서 0px에 위치 하겠다. */
  display: flex;
}

header .sub-menu ul.menu {
  /* header .sub-menu 이렇게 앞쪽 상위 선택자를 명시해주는게 좋음 그래야 범위 관리가 됨*/
  font-family: Arial, sans-serif;
  display: flex;
  /*요소들을 수평으로 바꿔줌*/
}

header .sub-menu ul.menu li {
  position: relative;
}

header .sub-menu ul.menu li::before {
  /* "::"콜론기호 2개는 가상요소 선택자 */
  /* before라는 가상요소 선택자는 내부의 앞쪽에 어떤 내용을 추가할 수 있음 */
  /* 그 내용은 content라는 속성으로 정의할 수 있음 */
  /* befor가상요소는 inline요소임 */
  content: "";
  /* 내용을 적지않더라도 content는 필요함 없으면 before사용 못함 */
  display: block;
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  /*부모요소 기준으로 배치하겠다.
  그러면 위치상 부모요소 지정해줘야 겠지 여기서는 li가 부모요소*/
  /*  position: absolute;사용이 된 요소는 display값이 자동으로 block으로 바뀜
  대표적으로 position fixed도 그러한 성질을 가지고 있음 그래서 위
  display: block;은 명시적으로 놔둬도 되고 지워도 됨*/
  top: 0;
  bottom: 0;
  margin: auto 0;
  /*auto시 브라우저가 자동으로 계산 좌우 여백은 0*/
  /* 수직 가운데 정렬을 하기 위한 /* 위에서 0, 아래서 0지점에 배치 + margin auto 0 입력 */
}

header .sub-menu ul.menu li:first-child::before {
  /*여러 li태그들 중 첫 번째 태그를 찾아서 before부분 적용을 어떻게 할거냐*/
  display: none;
  /*화면에서 안보이게 none으로 설정*/
}

header .sub-menu ul.menu li a {
  /* 기본적으로 a태그는 인라인 요소고 인라인 요소는 margin과 padding이라는 
  외부여백과 내부 여백의 위 아래값을 정상적으로 사용할 수 없음 추가적으로 가로 세로 값도 가질 수 없고
  그래서 이럴경우 dispaly: block으로 block요소다 라고 정의해주면 됨*/
  /* a태그는 block요소이기 때문에 가로 사이즈를 최대한 늘려서 사용하려고 시도함 */
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #656565;
}

header .sub-menu ul.menu li a:hover {
  /*a요소들은 분명하게 링크가 걸려져 있다는 것을 사용자에게 인식시켜줄 수 있도록 hover효과추가  */
  color: #000;
  /*마우스가 올라가져 있으면 검정색으로 바뀜*/
}

header .sub-menu .search {
  /* search요소는 div로 만들었고 블록요소 이기때문에 가로 너비가 최대한 늘어나려고 시도함함  */
  /* background-color: red; 서치 요소 범위를 알기 위함 sub-menu에 
  display flex로 설정하면 필요는 이 코드는 필요없음*/
  height: 34px;
  /*search요소의 높이값 */
  position: relative;
}

header .sub-menu .search input {
  /* input은 클래스가 아니기 때문에 "." 찍는거 아님 */
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  /* 위아래 4px 좌우 10px */
  border: 1px solid #ccc;
  box-sizing: border-box;
  /* 지정한 세로34 가로36만큼 유지하면서 내부 여백과 테두리선이 추가되도록 해줌 */
  border-radius: 5px;
  /* 5px만큼 둥글게 깍아줌 */
  outline: none;
  /* 제어가 쉽지 않아서 none으로 처리 */
  background-color: #fff;
  /* 화이트로 배경 */
  color: #777;
  /* 글씨 입력하면 회색으로 들어감 */
  font-size: 12px;
  transition: width .4s;
  /* 전환효과 적용 가로너비만 적용할꺼고 지속시간은 0.4초*/
}

header .sub-menu .search input:focus {
  /* input요소가 focus되면 적용 */
  width: 100px;
  /*input요소 선택시 가로가 100px로 늘어남*/
  border-color: #669900;
  /*초록색*/
}

header .sub-menu .search .material-icons {
  /*돋보기 모양 icon*/
  height: 24px;
  /*icon너비 값*/
  position: absolute;
  /* 부모요소 기준으로 배치를 하겠다.  여기서 부모요소는 .search임
  그러면 부모요소 search에 relative가 추가 되어야 겠지지*/
  top: 0;
  bottom: 0;
  right: 5px;
  /*부모요소 기준으로 오른쪽 5px지점에 위치하게 되겠지지*/
  margin: auto;
  /* top 0, bottom 0, margin auto는 뭐다? 수직 가운데 배치를 말한다. 
  근데 추가조건으로 뭐가 필요하다? 요소의 너비가 있어야함 그럼 여기서는 icon의 너비가 필요하지*/
  transition: .4s;
}

header .sub-menu .search.focused .material-icons {
  /* focused는 js에서 추가해줬고 .search.focused는 일치 선택자여야 함
  focused는 search라는 클래스를 가진 요소에 붙고 빠지니까 */
  opacity: 0;
}

/* 헤더 드롭다운 메뉴 - 메인 메뉴(1) */
header .main-menu {
  display: flex;
  /* 각각의 메뉴들이 수직에서 수평이 되게 만들어줄거임 */
  position: absolute;
  /* 위치상의 부모 요소를 기준으로 배치가 될 수 있게 해줌 */
  bottom: 0;
  right: 0;
  z-index: 1;
  /* 아래쪽에서 0px, 오른쪽에서 0px지점에 배치해주고  */
}

header .main-menu .item {}

header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  /*시계방향 순으로 위 오른쪽 아래 왼쪽 적용*/
  font-family: Arial, sans-serif;
  font-size: 13px;
}

header .main-menu .item:hover .item__name {
  /* item에 마우를 올리면 스타일이 어떻게 바뀌냐 */
  background-color: #2c2a29;
  /*어두운 회색*/
  color: #669900;
  border-radius: 6px 6px 0 0;
  /* 좌상단 우상단 6px 둥글게 모서리 깍아주고 나머지는 적용하지 않겠다.*/
}

header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  /*뷰포트를 기준으로 배치하겠다.*/
  left: 0;
  display: none;
}

header .main-menu .item:hover .item__contents {
  display: block;
}

header .main-menu .item .item__contents .contents__menu {
  background-color: #2c2a29;
  /*시각적 확인용*/
  /* height: 200px; 헤더 드롭다운 메뉴 - 메인메뉴(2)작업 부터 필요없음 조ㅛ
  컨텐츠 메뉴 안에는 직접 컨텐츠를 넣었으니까 높이값이 따로 필요하지 않고 그러면 기본값인 auto가 되면서
  그 안에 높이값만큼 내용이 차지하게 됨*/
}

/* 헤더 드롭다운 메뉴 - 메인 메뉴(2) */
header .main-menu .item .item__contents .contents__menu>ul {
  /* ">" 자식선택자 사용--> 자식선택자를 사용하지 않으면 하위선택자가 되고 이러면 컨텐츠 메뉴 안에 있는 
  모든 ul 태그에 다 영향을 미치게 되기 때문*/
  display: flex;
  /*수평정렬을 위해 flex사용*/
  padding: 20px 0;
  /*위 아래 20px 좌우는 사용하지 않겠다.*/
}

header .main-menu .item .item__contents .contents__menu>ul>li {
  /* ul태그는 li태그를 당연하게 포함하기때문에 자식선택자 사용 */
  width: 220px;
  /* 가로너비가 다 다르면 이상하니까 */
}

header .main-menu .item .item__contents .contents__menu>ul>li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}

header .main-menu .item .item__contents .contents__menu>ul>li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
  /* 여기서 얘기하는 cusor는 마우스 커서를 의미 */
  /* 포인터는 특정한 요소에다가 버튼등 같은 부분에 마우스 포인터를 올리면 그 마우스 포인터가 화살표 모양에서 손가락으로
  가르키는 모양이 되어 있음 */
}

/* 헤더 드롭다운 메뉴 - 메인 메뉴(2) */
header .main-menu .item .item__contents .contents__menu>ul>li ul li:hover {
  /* 마우스가 올라가면 적용하겠다. */
  color: #669900;
}

/* 헤더 드롭다운 메뉴 - 메인 메뉴(1,2) */
header .main-menu .item .item__contents .contents__texture {
  /* background-color: orange; 시각적 확인용 */
  padding: 26px 0;
  font-size: 12px;
  /* 글자와 관련된 부분은 기본적으로 상속되니 부모 요소에 적용한거 */
  background-image: url("../images/main_menu_pattern.jpg");
  /* url()함수 이미지 경로를 입력하기 위함 */
}

/* 헤더 드롭다운 메뉴 - 메인 메뉴(2) */
header .main-menu .item .item__contents .contents__texture h4 {
  color: #999;
  font-weight: 700;
}

header .main-menu .item .item__contents .contents__texture p {
  color: #669900;
  margin: 4px 0 14px;
  /* top 4px, left, right는 0 bottom은 14px */
}

/* 헤더와 드롭다운 메뉴 - 전역배지(1) */
header .badges {
  /* 이 배지도 inner밖에다 작성하긴 했지만 header 안에 있는 요소임 */
  position: absolute;
  /* 위치상의 부모는 inner가 아님 inner밖에다 작성했으니까 그럼 어디? header지 
  그럼 header에 뭐가 있어야돼? position: relative가 있어야 되겠지*/
  top: 132px;
  right: 12px;
  /* 위치는 위에서 132px 오른쪽에서 12px 지점에 배치하겠다. */
}

header .badges .badge {
  border-radius: 10px;
  overflow: hidden;
  /* overflow통해서 모서리는 div 요소 자체에서 둥글게 깍지만 그 안에 들어있는 이미지가 밖으로 출력되는데
  그걸 모서리 밖으로 넘치지 않도록 overflow-hidden이 그 역할을 해줌*/
  margin-bottom: 12px;
  /* 요소의 아래쪽 바깥 여백을 12px을 줘서 사이사이 간격을 추가해준거 */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .15);
  /* 그림자 효과 추가 */
  cursor: pointer;
}

/* FOOTER */
footer {
  background-color: #272727;
  border-radius: 1px solid #333;
}

footer .inner {
  padding: 40px 0 60px 0;
}

footer .menu {
  display: flex;
  justify-content: center;
}

footer .menu li {
  position: relative;
}

footer .menu li::before {
  /* 가상요소 선택자 ::before 그리고 before는 인라인요소임 */
  /*  position: absolute,fixed; 이게 있으면 display값이 자동으로 block으로 바뀜 */
  content: "";
  width: 3px;
  height: 3px;
  background-color: #555;
  position: absolute;
  /*부모요소는 li임*/
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
}

footer .menu li:last-child::before {
  /* li태그들 중에 가장 마지막 요소 */
  display: none;
}

footer .menu li a {
  color: #ccc;
  font-size: 12px;
  font-weight: 700;
  padding: 15px;
  display: block;
  /*li태그는 인라인 요소 이니까 padding값을 안먹으니 이걸 block요소로 바꿔줘야함*/
}

footer .menu li a.green {
  color: #669900;
}

footer .btn-group {
  margin-top: 20px;
  display: flex;
  /*btn 요소들이 수평이 되게 해줌*/
  justify-content: center;
  /*가운데 정렬*/
}

footer .btn-group .btn {
  font-size: 12px;
  margin-right: 10px;
  margin-bottom: 30px;
}

footer .btn-group .btn:last-child {
  margin-right: 0;
}

footer .info {
  margin-top: 30xp;
  text-align: center;
  /*문자 가운데 정렬*/

}

footer .info span {
  /* info안에 span태그(요소)들 제어 */
  margin-right: 20xp;
  font-size: 12px;
  color: #999;
}

footer .info span:last-child {
  margin-right: 0;
}

footer .copyright {
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}

footer .logo {
  margin: 30px auto 0;
}